username:admin
passwd:admin
enable
show interface brief
config
interface vlan 1
ip address 10.1.1.2 255.0.0.0
no shutdown
exit
interface gigaEthernet0/1
no shutdown
switchport mode trunk
switchport trunk vlan-allowed all
exit
ip default-gateway 10.1.1.1
vlan 100
exit
interface ePON0/1
switchport mode trunk
switchport trunk vlan-allowed all
exit
show interface brief
interface ePON0/1:1
epon onu port 1 ctc vlan tag 100
exit






or 






conf t
interface vlan 1
 ip address 10.1.1.2 255.255.255.0
 no shutdown
exit

interface gigabitethernet 0/1
 no shutdown
 switchport mode trunk
 switchport trunk allowed vlan all
exit

ip default-gateway 10.1.1.1

vlan 100
exit

interface epon 0/1
 switchport mode trunk
 switchport trunk allowed vlan all
exit

interface epon0/1:1
 epon onu port 1 ctc vlan tag 100
exit
